/* DATEI: martini.css */

/* reset styles */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
 padding: 0;
 margin: 0;
 font-size: 100%;
 font-weight: normal;
}
/* end reset styles */


body {
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  background-color:#BBBBAA;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.8em;
  padding-top:10px;
  color: #0C9809;
  font-size: 1.3em;
  font-weight: 600;
}

h2 {
  margin: 20px 10px 10px 0px;
  padding-top:10px;
  color:#0C9809;
  font-size: 1.2em;
  font-weight: 500;
}

h3 {
  margin: 20px 10px 10px 0px;
  color:#0C9809;
  font-size: 1.1em;
  font-weight: 500;
}
  
p {
 margin:0px 0px 16px 0px;
 padding:0px;
 text-align:left;
 line-height: 1.4;
}

th {
  color: black;
}
  
.gruenhr {
  margin-top: 32px;
  border-top: 2px solid #0C9809;
}

a {
  color:#0071C6;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
}

a

a:link {
  color:#0071C6;
}

a:visited {
  color:#0071C6;
}

a:hover {
  background-color:#ADAEAD;
}

ul {
  list-style-type: none;
  margin-bottom: 2em;
}

#content li {
  line-height: 150%;
}
  
ol {
   list-style-position: inside;
}

#header {
  position: fixed;
  margin: 0 50px;
  height: 120px;
  background-image: url(/graphik/h_gemeindefest.png);
  background-repeat: no-repeat;
  padding-top: 80px;
  padding-left: 320px;
  padding-bottom: 0px;
  font-size: 2.5em;
  font-weight: 600;
  color: white;
  letter-spacing: 0;
}

#headerrepeat {
  position: fixed;
  height: 200px;
  margin: 0;
  width: 100%;
  background-color: F2F0E8;
  background-image: url(/graphik/h_repeat.png);
  background-position: top;
  background-repeat: repeat-x;
  line-height: 32px;
}

#headerrepeat img {
  float: right; 
  margin: -200px 16px;
}

#right {
  position: fixed;
  right:0px;
  top:80px;
  margin-top: 120px; 
  padding-top: 10px;
}

#content {
  clear: both;
  margin-top: 0px;
  margin-left: 220px;
  margin-right: 220px;
  color: #555555;
  padding-top: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 256px;
  background: white;
  font-size: 1.6em;
  height: auto;
}
        

#menu{
  position: fixed;
  top: 200px;
  float: left;
  text-align: left;
  text-transform: uppercase;
  color: #111A77;
  margin: 0;
  margin-left: 10px;
  padding: 5px;
  background: transparent;
}

#menu p {
  font-size: 1.4em;
  font-weight: 800;
  padding-top: 10px;
}

#menu ul {
  font-size: 1.3em;
  font-weight: 800;
  list-style: none;
  line-height: 1.6em;
  padding-bottom: 20px;
}

#menu ul li a,#menu ul li a:link {
  font-weight: 900;
  color: #555555;
  text-decoration: none;
  border-bottom: 1px groove #fff;
  display: block;
}

#menu ul li a:visited {
  color: #555555;
}

#menu ul li a:hover{
  color: white;
}

/* Formatierung für Kirche im Gespräch */
#kig
{
  border-spacing:0px;
}

#kig td.gruen
{
  background-color:#009439;
  color:#009439;
  width:20px;
}

#kig td.blau
{
  background-color:#062D58;
  color:#062D58;
}

#kig td.grau
{
  background-color:#BDC4D3;
  color:#062D58;
  font:bold 30px arial,sans-serif;
  font-size:32px;
  padding:10px;
}
#gruenezeile {
margin-left:0px;
margin-top:10px;
padding-left:6px;
color:#009439;
border-left-style:solid; 
border-left-width:20px;
border-left-color:#009439;
font:bold 30px arial,sans-serif;
}

#blauezeile {
margin-left:0px;
margin-top:10px;
padding-left:6px;
color:#062D58;
border-left-style:solid; 
border-left-width:20px;
border-left-color:#062D58;
font:bold 30px arial,sans-serif;
}

#kigZ1 {
padding-top:10px;
padding-left:30px;
font:bold 24px arial,sans-serif;
color:#062D58;
}

#kigZ2 {
font:24px arial,sans-serif;
color:#062D58;
padding-left:30px;
}

#kigZ3 {
font:bold 24px arial,sans-serif;
color:#009439;
padding-left:30px;
}

/* Tabelle Gottesdienste */
#gottesdienste {
  width: 100%;
}

#gottesdienste td {
  vertical-align: top;
  line-height: 1.4;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#gottesdienste th {
  background-color: #0071C6
}

#gottesdienste tr:nth-child(odd) {
  background-color: #AABBAA
}

#gottesdienste tr:nth-child(even) {
  background-color: #CCDDCC
}

#tab_action {
  width: 40%;
}

#tab_when {
  width: 60%;
}

div#kinder { display: none; }
div#kinder:target { display: block; padding: 1em; }
div#jugend { display: none; }
div#jugend:target { display: block; padding: 1em; }
div#bibel { display: none; }
div#bibel:target { display: block; padding: 1em; }
div#gruppen { display: none; }
div#gruppen:target { display: block; padding: 1em; }

dl.imgLeft {float: left; margin: 0px 10px 10px 0;}
dl.imgLeft dd {margin:0; font-size:70%;}

dl.imgRight {float: right; margin: 0px 10px 10px 0;}
dl.imgRight dd {margin:0; font-size:70%;}

dl.imgCenter {float: center; margin-left: auto; margin-right: auto;}
dl.imgCenter dd {margin:0; font-size:80%;}

.pagination {
  margin-top: 2%;
  padding-top: 2%;
  border-top: 2px solid #0C9809;
  clear: both;
  text-align: center;
}

.pagination, span {
  padding-left: 5%;
  padding-right: 5%;
}

.datum {
  margin-top: 2%;
  border-top: 2px solid #0C9809;
}

.blatt {
  width: 50px;
  background: #BBBBAA;
  border-left: 2px solid #0C9809;
  border-right: 2px solid #0C9809;
  border-bottom: 2px solid #0C9809;
}

.tag {
    display: block;
    text-align: left;
    font: 21px/1em Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.monat {
    display: block;
    text-align: left;
    font: 12px/1em Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.kurzeseite {
  margin-bottom: 400px;
}

.kategorie:first-letter {
  text-transform: uppercase;
}

a[id]
{ 
  color: #555555;
}

.anchor{
  display: block; 
  position: relative; 
  top: -240px; 
  visibility: hidden;
}

.gTable td{
text-align: center;
}
