<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAFxmZ5Xg0coQ81ThdZqAILRSIYe9DYsHIx3KssseVPFdddUeqJRSt7Eoq3-fmW_P8zZzgM6TdNYUfRw"
        type="text/javascript"></script>
<script type="text/javascript">
//<![CDATA[
function load() {
  if (GBrowserIsCompatible()) {
    var map = new GMap2(document.getElementById("map"));
    map.addControl(new GSmallMapControl());
    map.addControl(new GMapTypeControl());
    map.setCenter(new GLatLng(51.203534,7.361751), 16);
    map.openInfoWindow(map.getCenter(), document.createTextNode("Martini-Gemeinde, Uelfestrasse 13"));
  }
}
//]]>
</script>