<div id="menu">
  <p>Informationen</p>
  <ul>
      <li><a href="http://selk-radevormwald.de/index.html" title="Downlaod">Startseite</a></li>
      <li><a href="http://selk-radevormwald.de/gemeindebrief.html" title="Gemeindebrief">Gemeindebrief</a></li>
      <li><a href="http://selk-radevormwald.de/gottesdienste.html" title="Gottesdienste">Gottesdienste</a></li>
      <li><a href="http://selk-radevormwald.de/inderwoche.html" title="Termine">Termine in der Woche</a></li>
      <li><a href="http://selk-radevormwald.de/oekumene.html" title="Ökumene">Ökumene</a></li>
      <li><a href="/predigten.html" title="Predigten">Predigten</a></li>
      <li><a href="http://selk-radevormwald.de/fotos.html" title="Fotos">Fotos</a></li>
      <li><a href="http://selk-radevormwald.de/links.html" title="Links">Links</a></li>
      <li><a href="http://selk-radevormwald.de/kategorien.html" title="Archiv">Archiv</a></li>
  </ul>
  <p>Gemeinde</p>
  <ul>
      <li><a href="http://selk-radevormwald.de/wer-wir-sind.html" title="Wer wir sind">Wer wir sind</a></li>
      <li><a href="http://selk-radevormwald.de/leitbild.html" title="Unser Leitbild">Unser Leitbild</a></li>
      <li><a href="http://selk-radevormwald.de/gruppen.html" title="Gruppen">Gruppen</a></li>
      <li><a href="http://selk-radevormwald.de/unser_pfarrvikar.html" title="Unser Pfarrvikar">Unser Pfarrvikar</a></li>
      <li><a href="http://selk-radevormwald.de/anreise.html" title="Anreise">Anreise</a></li>
      <li><a href="http://selk-radevormwald.de/beitrag.html" title="Beitragsordnung">Beitragsordnung</a></li>
      <li><a href="http://selk-radevormwald.de/impressum.html" title="Impressum">Impressum</a></li>
  </ul>
</div>
