---
title: selk-radevormwald.de
---
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="cache-control" content="no-cache">
  	<title>Selbst&auml;ndige Evangelisch-Lutherische Martini-Gemeinde Radevormwald</title>
  	<link rel="stylesheet" type="text/css" href="/css/martini.css">
	
	<!-- DataTables CSS -->
	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.5/css/jquery.dataTables.css">
	  
	<!-- jQuery -->
	<script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>
	  
	<!-- DataTables -->
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.5/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/plug-ins/f2c75b7247b/sorting/datetime-moment.js"></script>


</head>

<div id="headerrepeat" style="z-index:99;">
 <div id="header">Evangelisch-Lutherische<br>Martini-Gemeinde Radevormwald</div>
 <img src="/graphik/ggs.png" style="float: right; margin: 0px 16px;">
</div>

<!--menu_start-->
{% include menu.html %}

<div id="right" style="background: #BBBBAA">
	<img src="/graphik/h_selk.png">
	<div id="bild-und-bibel" style="width: 200px; margin-right: 10px;"></div>
</div>
<!--menu_end-->
<div id="content" style="position:float; z-index:1;">
	{{ content }}
</div>
</body>
</html>